* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: none;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-header {
  max-width: 100%;
  height: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  margin: 0 auto;
}
.container-content {
  max-width: 100%;
  min-height: 100%;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgb(255, 224, 185);
  background-repeat: no-repeat;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.content img {
  max-width: 100%;
}
.grid-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.centered-grid-content {
  grid-column: 1 / 3;
  margin-left: 50vh;
  margin-right: 50vh;
}
.content a {
  text-decoration: none;
  letter-spacing: 1.5px;
  line-height: 1.5;
  color: blue;
}
.content a:hover {
  font-weight: bold;
  color: rgb(78, 78, 255);
}
